html {
    scroll-behavior: smooth;
}

header h1 {
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    /* margin-right: 20%;
    margin-top: 15%;
    margin-bottom: -3%; */
    padding:10px;
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 20%;
}

header h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding:10px;
    /* margin-left: 10%;
    margin-bottom: -0.5%; */
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 10%;
    right: 0;
}

.introtext {
    position: absolute;
    top: 47%;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: rgb(40, 40, 40) ;
    margin: 0;
    height: 100vh;
}

.topnav {
    margin-top: 2%;
    background-color: rgb(40, 40, 40);
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
}
  
.topnav a {
    margin-left: 1%;
    float: right;
    color: rgba(255, 255, 255, 0.447);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.topnav a:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

.topnav a.leftsplit {
    float: left;
    color: #C0EEF2;
    font-size: 30px;
    font-weight: 900;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin-top: 100%;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
   
img {
    margin-left: 75%;
    max-width: 25%;
    max-height:15%;
    float: left;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-bottom: -1%;
}
  
.text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    float: left;
}

.hover-underline-animation {
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    margin-bottom: 8px;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    margin-bottom: 8px;
    transform: scaleX(1);
    transform-origin: bottom left;
}
   