/* Page Section */
body {
    /* background: linear-gradient(to right, black, rgb(60, 0, 60)); */
    margin: 0;
    height: 100vh;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-bottom: -1%;
}

.page1 {
    height:100vh;
    background: linear-gradient(to right, black, #662D8C);
    box-sizing: border-box;
}

.page2 {
    height:100vh;
    background: linear-gradient(to right,#537895, #09203F);
    box-sizing: border-box;
}

.page3 {
    top:300vh;
    height:100vh;
    background: linear-gradient(to right,#1D2671 , #C33764);
    box-sizing: border-box;
}


/* Navigation Section */

.topnav {
    /* margin-top: 2%; */
    background-color: transparent;
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
    padding-top:30px;
}
  
.topnav a {
    margin-left: 1%;
    float: right;
    color: rgba(255, 255, 255, 0.447);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.topnav a:hover {
    background-color: transparent;
    color: white;
}

.topnav a.leftsplit {
    float: left;
    color: rgb(255, 0, 255);
    font-size: 250%;
    font-weight: 200;
    margin-top:-1%;
}

html {
    scroll-behavior: smooth;
}

.hover-underline-animation {
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    margin-bottom: 8px;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    margin-bottom: 8px;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.moveto {
    top:0;
}


/* Intro title section */
.intro {
    position: absolute; 
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0; 
}

.introheader {
    padding: 40px;
    box-sizing: border-box;
}

h1 {
    color:  rgb(255, 0, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 700%;
    text-align: center;
    margin-bottom: -3%;
}

h2 {
    color: rgb(170, 0,170);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 400%;
    text-align: center;
    padding:10px;
    margin-bottom: -4%;
}

/* Project info section */

.projects {
    position: absolute;
    top: 100vh;
}

h3 {
    margin-top:1;
    color:  #90cfff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 500%;
    text-align: center; 
}

.project1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 45% 45% 45%;
    column-gap: 1px;
}
   
img {
    margin-left: 25%;
    max-width: 75%;
    max-height:75%;
    float: left;
}
   

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    top:300%;
    margin-left: 45%;
    /* bottom: 0 */
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 35px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the social media icons with color, if you want */

  
  .github {
    background: gray;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  