/* Page Section */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    /* background-color: #242424; */
    background: linear-gradient(to right, rgb(22, 22, 22), rgb(51, 51, 51));
}

html {
    overflow-y: hidden;
    overflow-x:hidden;
}

*, html {

    scroll-behavior: smooth !important;
}

.wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2vw;
    margin-bottom: -1%;
}

section {
    height:100vh;
    width: 100%;
    margin:0;
    padding:0;
}

.page1 {
    /* background: linear-gradient( #a47c7c, #66589a); */
    /* background-color: #080808; */
    box-sizing: border-box;
    scroll-snap-align: start;
    
}

.page2 {
    /* background: linear-gradient(#66589a, #734848); */
    /* background-color: #080808; */
    box-sizing: border-box;
    scroll-snap-align: start;
}

.page3 {
    /* background: linear-gradient(#734848, #1c7c74 ); */
    box-sizing: border-box;
    scroll-snap-align: start;
}

.page4 {
    /* background: linear-gradient(#1c7c74,#9d8937); */
    box-sizing: border-box;
    scroll-snap-align: start;
}

.page5 {
    box-sizing: border-box;
    scroll-snap-align: start;
}

.navbar2 {
  width: 10%; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  top: 30%; /* Stay at the top */
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

.navbar2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 2vw;
}
  
.navbar2 a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar2 a.active {
    background-color: #04AA6D;
    color: white;
}
  
.github {
    background: gray;
    color: white;
}
  
.linkedin {
    background: #007bb5;
    color: white;
}

/* Navigation Section */
.topnav {
    /* background: linear-gradient(to right, #442a2a, #554981); */
    padding-right: 20%;
    height: 10%;
    padding:1;
}
  
.topnav a {
    margin-left: 1%;
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5vh;
    padding-left:1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.topnav a:hover {
    /* background-color: white; */
    color: rgba(255, 255, 255, 0.639);
}

.topnav img {
    padding:4vh 2vh;
    height:40px;
    width: 60px;
    /* background-image: linear-gradient(45deg, #ffc0c0,  #A890FE); */
    margin-left: 20%;
}

.topnav a.leftsplit {
    float: left;
}

.underline-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.underline-hover:before {
    content: "";
    position: absolute;
    left: 13%;
    right: 100%;
    bottom: 5%;
    background: #ffffff;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.underline-hover:hover:before, .underline-hover:focus:before, .underline-hover:active:before {
    right: 13%; 
}

.moveto {
    top:0;
}



/* Intro page */
.intro {
    align-items: center;
    /* background: linear-gradient(to right, #442a2a, #554981); */
}

.introheader {
    padding: 2%;
    box-sizing: border-box;
}

h1 {
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 7.2vw;
    text-align: center;
    margin-bottom: -3%;
    padding-top:20vh;
}

.introtext p {
    font-weight: 200;
}


/* About Page */

h5 {
    padding-top:2%;
    color:  #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 5.5vw;
    text-align: center; 
    margin:0;
    margin-bottom: 5vh;
    /* margin-left:25%; */
}

.background_text {
    display: grid;
    align-items: center; 
    grid-template-columns: 45% 45%;
    column-gap: 1px;
    margin-left: 18%;
}

.big {
    text-align: left;
    font-size: 1.7vw;
    font-weight: 300;
}

.smol {
    text-align: left;
    font-size: 1.2vw;
    font-weight: 100;
}

.background_text img {
    padding-left: 10%;
    opacity: .8;
    width: 40%;
}

/* Projects page */

.projects {
    top: 100vh;
    margin-left: 10.5%;
}

h3 {
    padding-top:2%;
    color:  #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 5.5vw;
    text-align: center; 
    margin:0;
}

.project1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 45% 45%;
    column-gap: 1px;
    margin-right: 10%;
    /* margin-left: 18%; */
}

.projects img {
    max-width: 40vw;
    max-height:40vh;
}
   
img {
    /* max-width: 40vw;
    max-height:40vh; */
    float: left;
}

.project1 p {
    font-size: 1.2vw;
    font-weight: 200;
    margin-left: -10%;
    padding-right: 1vw;
}



.text p {
    margin-right: 20%;
}

.text2 p {
    margin-left: 20%; 
}

/* Skills page */

h4 {
    padding-top: 3%;
    color:  #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:5.5vw;
    text-align: center; 
    margin:0;
}

.skills {
    top:200vh;
    /* position: absolute; */
    left:0;
    right:0;
}

.skills p{
    color:  #ffffff;
    border-radius: 25%;
    background: #3e3e3e;
    width: 13vh;
    height: 13vh;
    line-height: 15vh;
    font-weight: 700;
    font-size: 8vh;
    text-align: center; 
}

.skills p:hover{
    color:  #ffffff;
    background: rgb(60, 59, 59);
    width: 14vh;
    height: 14vh;
    line-height: 16vh;
    font-size: 9vh;
    transition-duration: 0.3s;
}

.hide {
    display: block;
    color:transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    padding:5px;
    justify-content: center;
    width:13vh;
}

.skills p:hover + .hide {
    color: white;
}


.skilllist {
    margin-top: 0%;
    align-items: center;
    display: grid;
    grid-template-columns:repeat(4,1px);
    grid-auto-flow: row; 
    justify-content: space-evenly;
    position: relative;
    margin-left: 0%;
    margin-right:12%;
}
   
/* Contact */

.form-body {
    margin-top: 5%;
    border-radius: 1%;
    padding-top: 5%;
    justify-content: center;
    margin-left: 35%;
    margin-right:35%;
    /* background-color: #828282; */
    padding:1%;
}

.form-body label {
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    text-align: left;
    padding:5px;
}

button[type="submit"] {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #555;
}

.form-body textarea, input {
    width: 100%;
}

.form-group {
    padding-top: 5%;
}

.sbutton {
}


 /* Side Bar */
.navbar {
    padding-left: 45vw;
    align-items: center;
    /* background: linear-gradient(to right,#1D2671 , #C33764); */
    background: #1D2671;
    margin-left:0;
    top:300vh;
    left:0;
    right:0;
    text-align: center;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 1vw;
}

.sbutton {
    margin-left: auto;
    margin-right: auto;
}
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}
  
.github {
    background: gray;
    color: white;
}
  
.linkedin {
    background: #007bb5;
    color: white;
}
  

